@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
:root {
  --active-text-color: #00ddc2;
  --subcategory-text-color: #a5a5a5;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 4px;
}
img {
  user-drag: none;
  -webkit-user-drag: none;
}

body {
  font-family: sans-serif;
  background: linear-gradient(338deg, rgba(241, 241, 241, 1) 15%, rgba(0, 147, 156, 1) 42%, rgba(7, 32, 33, 1) 72%);
  background: linear-gradient(338deg, rgb(66 59 103) 15%, rgb(0, 147, 156) 42%, rgb(20 45 46) 72%);
  min-height: 100vh;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}
.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  list-style-type: none;
}
.app-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-bottom: 100px;
}
.nav__logo {
  margin-right: auto;
  font-size: 3rem;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
  a {
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-weight: 800;
  }
}

.nav__item {
  padding-left: 20px;
  padding-right: 20px;
  a {
    font-size: 1.1rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--active-text-color);
    white-space: nowrap;
    transition: text-shadow 0.1s ease;
    &:hover {
      color: var(--active-text-color);
      text-shadow: 0 0 15px var(--active-text-color);
    }
  }
}

.expenses-container {
  display: flex;
  align-items: flex-end;
  margin-top: 5%;
  margin-left: 30%;
  justify-content: space-between;
  background-color: transparent;
}
.expenses_box {
  border: 2px solid #ffffff78;
  padding: 10px 20px;
  transform-style: preserve-3d;
  border-radius: 30px 30px 0px 30px;
  position: relative;
  width: 100%;
  background-color: #009099;
  max-height: 800px;
  height: 760px;
  display: flex;
  flex-direction: column;
  .expenses_box_header {
    color: white;
    padding: 10px 18px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    h1 {
      margin-right: 7px;
      font-family: 'Catamaran', sans-serif;
      font-weight: 700;
      font-size: 2rem;
    }
  }
  .expense-box-filters {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Catamaran', sans-serif;
    padding: 10px 18px;
    padding-top: 0;

    .datepicker {
      .start-date,
      .end-date {
        border-radius: 10px;
        border: none;
        padding: 5px 10px;
      }
      .form-title {
        font-weight: 700;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        .icon-tune {
          margin-left: 3px;
          font-size: 1.4rem;
        }
      }
    }
    .choose-category {
      display: flex;
      align-items: center;
      .choose-category-header {
        font-weight: 700;
        font-size: 1.1rem;
      }
      .checkbox-wrap {
        margin-left: 10px;
        display: flex;
        align-items: center;
        .mdc-checkbox__background {
          border: 2px solid white !important;
        }
      }
    }
    input {
      font-family: 'Catamaran', sans-serif;
    }

    .price-range {
      display: flex;
      align-items: center;
    }
    .search-bar {
      display: flex;
      align-items: center;
      input {
        margin-left: 10px;
        padding: 2px 10px;
        font-size: 1.1rem;
        border-radius: 5px;
        outline: none;
        box-sizing: content-box;
        border: 2px solid transparent;
        &:focus {
          border: 2px solid gray !important;
        }
      }
    }
  }

  .expenses__list {
    overflow-y: auto;
    box-shadow: inset 1px 20px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    .expense__item {
      &:first-child {
        margin-top: 10px;
      }
      background-color: white;
      font-family: 'Catamaran', sans-serif;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      padding: 6px 15px;
      margin: 20px 15px;
      border-radius: 10px;
      margin-bottom: 10px;
      box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1), 10px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      .main-row {
        display: flex;
        justify-content: space-between;
        .name {
          font-weight: 700;
          font-size: 1.2rem;
        }
        .price {
          font-weight: 700;
          font-size: 1.2rem;
        }
      }
      .secondary-row {
        display: flex;
        justify-content: space-between;
        .category {
          color: var(--subcategory-text-color);
          display: flex;
          align-items: center;
        }
        .date {
          white-space: nowrap;
          color: var(--subcategory-text-color);
        }
        .food-icon,
        .car-icon {
          margin-left: 3px;
          font-size: 1.1rem;
        }
      }
    }
  }
}
.summary-container {
  *:not(.material-symbols-outlined) {
    font-family: 'Catamaran', sans-serif;
  }
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 6%;
  .summary_box {
    padding: 15px;
    border: 2px solid #ffffff78;
    overflow-x: hidden;
    border-radius: 0px 30px 30px 30px;
    width: 100%;
    margin-right: 25%;

    color: white;
    background-color: #009099;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    .total {
      font-weight: 700;
      font-size: 1.5em;
    }
    .summary_box_header {
      padding: 6px 0;
      display: flex;
      align-items: center;
      border-radius: 10px 10px 0 0;
      h2 {
        font-size: 2rem;
        margin-right: 6px;
      }
    }
    .summary_boxes_wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      .summary_box_category {
        .sum_category__item {
          cursor: pointer;
          display: flex;
          align-items: center;
          margin-bottom: 10px;
          .date {
            background-color: #8ee7ac;
            color: black;
            border-radius: 10px;
            padding: 0 10px;
            font-size: 1.1rem;
            margin-right: 5px;
          }
          .price {
            display: flex;
            background-color: #c4eaec;
            color: black;
            border-radius: 10px;
            padding: 0 10px;
            font-size: 1.1rem;
            .amount {
              padding-right: 3px;
            }
          }
        }
      }
      .sum_period__item {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .date {
          white-space: nowrap;
          background-color: #bdae86;
          color: black;
          border-radius: 10px;
          padding: 0 10px;
          font-size: 1.1rem;
          margin-right: 5px;
        }
        .price {
          display: flex;
          background-color: #c4eaec;
          color: black;
          border-radius: 10px;
          padding: 0 10px;
          font-size: 1.1rem;
          .amount {
            padding-right: 3px;
          }
        }
      }
    }
  }
}
.img-notepad {
  transform: scaleX(-1);
  width: 350px;
  margin-left: 22%;
}

.sum_period__item {
  display: flex;
}
.sum_category__item {
  display: flex;
}
.img-container-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  .shopping-cart-image {
    transform: scaleX(-1);
    width: 500px;
    margin-right: auto;
    margin-left: 100px;
  }
}
.img-container-notepad {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.footer {
  background-color: #1b1b1b;
  width: 100%;
  height: 230px;
  .footer-logo {
    position: absolute;
    left: 20px;
    margin-right: auto;
    font-size: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
    a {
      font-family: 'Catamaran', sans-serif;
      font-weight: 700;
      color: #a6a6a6;
      text-decoration: none;
      font-weight: 800;
    }
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    .footer-element {
      list-style-type: none;
      margin-left: auto;
      margin-right: 60px;
      a {
        font-family: 'Catamaran', sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.3em;
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
        &:hover {
          color: var(--active-text-color);
          text-shadow: 0 0 15px var(--active-text-color);
        }
      }
    }
  }
}
.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  *:not(.material-symbols-outlined) {
    color: white;
    font-family: 'Catamaran', sans-serif;
  }
  .currentPage {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .prevPage-button,
  .nextPage-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    background: none;
    transition: transform 0.2s ease;
    .icon-back {
      padding-right: 5px;
    }
    .icon-forward {
      padding-left: 5px;
    }
  }
  .prevPage-button {
    &:hover {
      transform: translateX(-2px);
    }
    &:active {
      transition: transform 0.1s ease;
      transform: scale(0.95);
    }
  }
  .nextPage-button {
    &:hover {
      transform: translateX(2px);
    }
    &:active {
      transition: transform 0.1s ease;
      transform: scale(0.95);
    }
  }
}
.drop-down-menu {
  border: none;
  background: none;
  color: white;
  font-weight: 700;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
  visibility: hidden;
  span {
    font-size: 3rem;
    &::before {
      content: 'menu';
    }
  }
}
@media (max-width: 1060px) {
  nav {
    padding-left: 0;
    padding-right: 0;
    ul {
      .nav__item {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media (max-width: 1440px) {
  .img-container-cart {
    .shopping-cart-image {
      margin-left: 40px;
    }
  }
}
@media (max-width: 1100px) {
  .img-container-cart {
    .shopping-cart-image {
      margin-left: 30px;
      width: 400px;
    }
  }
  .expenses-container {
    margin-left: 10%;
  }
  .expenses_box {
    padding: 10px 8px;
  }
  .summary-container {
    .summary_box {
      margin-right: 10%;
    }
  }
  .img-container-notepad {
    .img-notepad {
      margin-left: 5%;
    }
  }
}
@media (max-width: 820px) {
  .img-container-cart {
    .shopping-cart-image {
      margin-left: 5px;
      width: 380px;
    }
  }
  .img-container-notepad {
    .img-notepad {
      width: 270px;
    }
  }
  nav {
    .nav__logo {
      padding-right: 20px;
    }
    ul {
      .nav__item {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .drop-down-menu {
    visibility: visible;
  }

  .nav__item {
    display: none;
  }
  .nav-list.active-drop-down-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.99);
    z-index: 2;
    overflow-y: auto;
    .nav__logo {
      visibility: hidden;
    }
    .nav__item {
      display: block;
      margin-bottom: 20px;
      a {
        font-size: 2rem;
      }
    }

    .drop-down-menu span::before {
      content: 'close';
    }
  }
  .img-container-cart,
  .img-container-notepad {
    display: none;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    .expenses-container {
      margin: 0 4%;
      .expenses_box {
        border-radius: 30px;
      }
    }
    .summary-container {
      margin: 0;
      .summary_box {
        margin: 10px 4%;
        border-radius: 30px;
      }
    }
  }
}
@media (max-width: 425px) {
  .footer {
    height: 180px;
    .footer-logo {
      left: 0px;
      padding-left: 10px;
    }
    .footer-list {
      .footer-element {
        margin-right: 15px;
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
